.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.about-title {
  font-size: 3rem;
  color: #FFC0CB;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-section {
  margin-top: 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-content {
  font-size: 1.125rem;
  line-height: 1.6;
}

.about-text p {
  margin-bottom: 16px;
  text-align: justify
}

.about-text p:last-child {
  margin-bottom: 0;
}

.about-image {
  width: 730px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

